$app-bg-color: #27313d;
$app-text-color: #d0d5dc;
$app-main-bg-color: #1e232d;
$header-height: 52px;
$sidebar-width: 250px;

// SIDEBAR
$sidebar-item__hover: rgba(208, 213, 220, 0.65);
$sidebar-item__active__hover: rgba(219, 235, 255, 0.085);
$sidebar-text-color: #949dad;
