<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <body>
      <%- include('layout/header'), { title: 'My Memory' } %>
      <%-include('layout/sidebar')%>
      <div>MEMORY</div>

      <%- include('layout/footer') %>
    </body>
  </head>
</html>
